td, th {
  border: 5px solid #999;
 width: 450px;
height:375px;
background-color:burlywood;     
}

#Sg {
    width: 200;
    height:150;
}

#attendee{
    width:50;
    height: 50;
        
}

#warning{
    font-size: 50px;
    font-style: oblique;
    font-weight: 400;
    color:  darkred 
}
